                    <div>

                        <div class="widget">
                            <div style="text-align:center;padding-top:48px">
                                <img style="width:120px;margin-bottom:20px;" ng-src="https://media-service.appspot.com/site/images/<% currentCommunity.image %>?crop=240" />
                                <h6 class="title"><% currentCommunity.name %></h6>
                            </div>
                            <hr>
                            <p><% currentCommunity.description %></p>
                        </div>
                        <!--end of widget-->


                    </div>

