                            <div ng-cloak>
                                <div class="row">
                                    <div class="col-md-10">
                                        <img align="left" style="height:120px;margin-right:16px;border:1px solid #ddd" ng-src="https://media-service.appspot.com/site/images/<% post.image %>?crop=260" />
                                        <h4 style="margin-bottom:0px">
                                            <a style="font-weight:400;color:#000;font-size:20px" href="/site/post/<% post.id %>"><% post.title %></a>
                                        </h4>
                                        <p><% post.text %></p>
                                    </div>

                                    <div class="col-md-2" style="text-align:right">
                                        <% generalService.formattedDate(post.timestamp) %>
                                        <div class="clearfix" style="margin-bottom:12px"></div>
                                        <a ng-if="currentCommunity == null" class="btn btn-sm" data-toggle="modal" data-target="#signupModal" href="">Reply</a>
                                        <a ng-if="currentCommunity!=null && selectedPost!=post" ng-click="selectPost(post)" class="btn btn-sm" href="">Reply</a>
                                    </div>
                                </div>
                                <div class="row" ng-show="selectedPost == post">
                                    <br />
                                    <div class="col-md-12">
                                        <textarea ng-model="reply.text" class="form-control" style="width:100%;height:72px;background:#fff;border:1px solid #ddd"></textarea>
                                        <a ng-click="replyToPost()" class="btn btn-sm" style="float:right;" href="">Send</a>
                                        <a ng-click="unselectPost()" class="btn btn-sm" style="float:right;margin-right:12px" href="">Cancel</a>
                                    </div>
                                </div>
                                <br />
                            </div>
                            
