<!doctype html>
<html lang="en" ng-app="Perc" ng-controller="BaseController" ng-init="checkCurrentUser()">
    <head>
        {{>head}}
    </head>


    <body ng-cloak>
        {{>modals}}
        {{>nav}}

        <div class="main-container">

            <section class="page-title page-title-3 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="/site/img/home5.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img ng-show="profile.image.length > 0" style="width:96px;margin-top:6px;margin-bottom:12px;border-radius:48px" ng-src="https://media-service.appspot.com/site/images/<% profile.image %>?crop=360" />
                            <h3 class="uppercase mb12"><% profile.firstName %> <% profile.lastName %></h3>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
                <ol class="breadcrumb breadcrumb-2">
                    <li class="active">WeWork</li>
                    <li ng-show="profile.title.length > 0" class="active"><% profile.title %></li>
                    <li><a ng-click="logout()" href="">Log Out</a></li>
                </ol>
            </section>

            <section style="border-top:1px solid #ddd;padding-top:0px;padding-bottom:0px">
                <div class="row-fluid">
                    <div class="col-md-3 hidden-xs bg-secondary" style="border-right:1px solid #ddd;padding:48px 24px 0px 48px;min-height:2100px">
                        <sidebar></sidebar>
                    </div>


                    <div class="col-md-9 mb-xs-24">
                            <div class="tabbed-content text-tabs" style="padding:96px">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <span>Profile</span>
                                        </div>
                                        <div class="tab-content">
                                            <h4>Manage Your Profile Details</h4>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input ng-blur="updateProfile()" ng-model="profile.firstName" type="text" placeholder="First Name" class="form-control">
                                                    <input ng-blur="updateProfile()" ng-model="profile.lastName" type="text" placeholder="Last Name" class="form-control">
                                                    <input ng-blur="updateProfile()" ng-model="profile.email" type="text" placeholder="Email" class="form-control">
                                                    <input ng-blur="updateProfile()" ng-model="profile.title" type="text" placeholder="Title (e.g. 'Graphic Designer')" class="form-control">
                                                    <input ng-blur="updateProfile()" ng-model="profile.password" type="password" placeholder="Password" class="form-control">
                                                </div>

                                                <div class="col-md-6">
                                                    <textarea ng-blur="updateProfile()" ng-model="profile.bio" style="height:198px;border:1px solid #ddd" placeholder="About me"></textarea>
                                                    <div ng-file-drop="profileImageSelected($files, 'image', 'images')" style="width:100%;height:96px;background:#f9f9f9;border:1px solid #ddd;text-align:center;padding:12px">
                                                        <img ng-show="profile.image.length > 0" align="left" style="width:72px" ng-src="https://media-service.appspot.com/site/images/<% profile.image %>?crop=360" />
                                                        Drag &amp; Drop Profile Image to Change

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Work Samples</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end of text tabs-->


                    </div>


                </div>

            </section>




            
            {{>footer}}

        </div>
        {{>scripts}}
    </body>
</html>