<!doctype html>
<html lang="en" ng-app="Perc" ng-controller="BaseController" ng-init="checkCurrentUser()">
    <head>
        {{>head}}
    </head>


    <body ng-controller="HomeController" ng-init="init()" class="ng-cloak">
        {{>modals}}
        {{>nav}}

        <div class="main-container">

            <section style="border-top:1px solid #ddd;padding-top:0px;padding-bottom:0px">
                <div class="row-fluid">
                    <div class="col-md-3 hidden-xs bg-secondary" style="border-right:1px solid #ddd;padding:48px 24px 0px 48px;min-height:1600px">
                        <sidebar ng-if="currentCommunity == null"></sidebar>
                        <communitysidebar ng-if="currentCommunity != null"></communitysidebar>
                    </div>


                    <div class="col-md-9 mb-xs-24">
                            <div class="tabbed-content text-tabs" style="padding:32px">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <span>Opportunities</span>
                                        </div>

                                        <div class="tab-content">
                                            <div style="width:100%;padding:20px;background:#fff;border:1px solid #ddd">
                                                <h4 style="margin-bottom:0px">
                                                    Opportunities
                                                    <a ng-show="currentCommunity == null" style="float:right" data-toggle="modal" data-target="#signupModal" class="btn btn-rounded" href="#">Join</a>
                                                    <a ng-show="currentCommunity != null" style="float:right" data-toggle="modal" data-target="#postJobModal" class="btn btn-rounded" href="#">Post</a>
                                                </h4>
                                            </div>

                                            <post ng-repeat="post in visiblePosts track by $index" style="width:100%;min-height:136px;padding:20px 20px 0px 20px;background:#f9f9f9;border:1px solid #ddd;border-top:none"></post>

                                            <div ng-show="pages.length > 1" style="text-align:center;padding-top:16px">
                                                <ul class="pagination" style="margin-top:0px;float:center">
                                                    <li ng-repeat="page in pages track by $index">
                                                        <a ng-click="loadVisiblePosts(pages[$index])" class="back-to-top" href="#top"><% $index+1 %></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Tab Content -->
                                     </li>

                                    <li ng-show="currentCommunity != null">
                                        <div class="tab-title">
                                            <span>Conversations</span>
                                        </div>

                                        <div class="tab-content">

                                            <div ng-repeat="conversation in currentCommunity.conversations track by $index" class="title" style="padding:24px;border:1px solid #ddd;background:#f9f9f9">
                                                <p>
                                                    <img align="left" style="width:84px;border-radius:42px;margin-right:16px" src="https://media-service.appspot.com/site/images/<% conversation.profile.image %>?crop=260" />
                                                    <span style="margin-right:16px"><% conversation.title %></span><br />
                                                    <% conversation.text %>
                                                </p>
                                                <div style="text-align:right;padding:16px 0px 0px 16px;">
                                                    <span style="margin-right:16px;border:1px solid #ddd;background:#fff;padding:8px"><% conversation.numComments %> replies</span>
                                                    <span style="border:1px solid #ddd;background:#fff;padding:8px"><% generalService.formattedDate(conversation.timestamp) %></span>
                                                </div>
                                            </div>


                                        </div>
                                    </li>

                                    <li ng-show="currentCommunity != null">
                                        <div class="tab-title">
                                            <span>Community</span>
                                        </div>

                                        <div class="tab-content">
                                            <div class="row">
                                                <profile ng-repeat="profile in currentCommunity.profiles track by $index" class="col-sm-4 post-snippet masonry-item mb40"></profile>
                                            </div>
                                            <!--end of row-->

                                        </div>
                                    </li>


                                    <li ng-show="currentCommunity == null" >
                                        <div class="tab-title">
                                            <span>Communities</span>
                                        </div>

                                        <div class="tab-content">
                                            <div class="row mb40">
                                                <community ng-repeat="community in communities track by $index" class="col-sm-4 post-snippet masonry-item mb40"></community>

                                            </div><!--end of row-->

                                        </div>
                                    </li>


                                </ul>
                            </div>
                            <!--end of text tabs-->


                    </div>





                    <div class="col-md-9">
                    </div>
                    <!--end of 9 col-->

                </div>

            </section>


            
            {{>footer}}

        </div>
        {{>scripts}}
    </body>
</html>