<!doctype html>
<html lang="en" ng-app="Perc" ng-controller="BaseController" ng-init="checkCurrentUser()">
    <head>
        {{>head}}
    </head>


    <body ng-controller="HomeController" ng-init="init()" ng-cloak>
        {{>modals}}
        {{>nav}}

        <div class="main-container">

            <section style="border-top:1px solid #ddd;padding-top:0px;padding-bottom:0px">
                <div class="row-fluid">
                    <div class="col-md-3 hidden-xs bg-secondary" style="border-right:1px solid #ddd;padding:48px 24px 0px 48px;min-height:1600px">
                        <sidebar ng-if="currentCommunity == null"></sidebar>
                        <communitysidebar ng-if="currentCommunity != null"></communitysidebar>
                    </div>


                    <div class="col-md-9">


                        <div class="row mb40" style="padding:0px 36px 0px 36px;margin-top:0px;margin-top:64px">

                            <div style="width:100%;padding:20px;background:#fff;border:1px solid #ddd">
                                <h4 style="margin-bottom:0px">
                                    Opportunities
                                    <a ng-show="currentCommunity == null" style="float:right" data-toggle="modal" data-target="#signupModal" class="btn btn-rounded" href="#">Join</a>
                                    <a ng-show="currentCommunity != null" style="float:right" data-toggle="modal" data-target="#postJobModal" class="btn btn-rounded" href="#">Post</a>
                                </h4>
                            </div>

                            <div ng-repeat="post in visiblePosts track by $index" style="width:100%;min-height:136px;padding:20px 20px 0px 20px;background:#f9f9f9;border:1px solid #ddd;border-top:none">
                                <div class="row">
                                    <div class="col-md-10">
                                        <img align="left" style="height:120px;margin-right:16px;border:1px solid #ddd" ng-src="https://media-service.appspot.com/site/images/<% post.image %>?crop=260" />
                                        <h4 style="margin-bottom:0px">
                                            <a style="font-weight:400;color:#000;font-size:20px" href="/site/post/<% post.id %>"><% post.title %></a>
                                        </h4>
                                        <p><% post.text %></p>
                                    </div>

                                    <div class="col-md-2" style="text-align:right">
                                        <% generalService.formattedDate(post.timestamp) %>
                                        <div class="clearfix" style="margin-bottom:12px"></div>
                                        <a ng-if="currentCommunity == null" class="btn btn-sm" data-toggle="modal" data-target="#signupModal" href="">Reply</a>
                                        <a ng-if="currentCommunity!=null && selectedPost!=post" ng-click="selectPost(post)" class="btn btn-sm" href="">Reply</a>
                                    </div>
                                </div>
                                <div class="row" ng-show="selectedPost == post">
                                    <br />
                                    <div class="col-md-12">
                                        <textarea ng-model="reply.text" class="form-control" style="width:100%;height:72px;background:#fff;border:1px solid #ddd"></textarea>
                                        <a ng-click="replyToPost()" class="btn btn-sm" style="float:right;" href="">Send</a>
                                        <a ng-click="unselectPost()" class="btn btn-sm" style="float:right;margin-right:12px" href="">Cancel</a>
                                    </div>
                                </div>
                                <br />

                            </div>


                        </div>

                        <div ng-show="pages.length > 1" style="text-align:center">
                            <ul class="pagination" style="margin-top:0px;float:center">
                                <li ng-repeat="page in pages track by $index">
                                    <a ng-click="loadVisiblePosts(pages[$index])" class="back-to-top" href="#top"><% $index+1 %></a>
                                </li>
                            </ul>
                        </div>



                    </div>
                    <!--end of 9 col-->

                </div>

            </section>


            
            {{>footer}}

        </div>
        {{>scripts}}
    </body>
</html>