<!doctype html>
<html lang="en" ng-app="Perc" ng-controller="BaseController" ng-init="checkCurrentUser()">
    <head>
        {{>head}}
    </head>


    <body ng-controller="HomeController" ng-init="init()">
        {{>modals}}
        {{>nav}}

        <div class="main-container">

            <section style="border-top:1px solid #ddd;padding-top:0px;padding-bottom:0px">
                <div class="row-fluid">
                    <div class="col-md-3 hidden-xs bg-secondary" style="border-right:1px solid #ddd;padding:48px 24px 0px 48px;min-height:1400px">
                        <sidebar ng-if="currentCommunity == null"></sidebar>
                        <communitysidebar ng-if="currentCommunity != null"></communitysidebar>
                    </div>


                    <div class="col-md-9">
                        <div class="row masonry-loader">
                            <div class="col-sm-12 text-center">
                                <div class="spinner"></div>
                            </div>
                        </div>

                        <div style="padding:64px 48px 0px 12px">
                            <h3 style="margin-left:12px;">Business Opportunities</h3>
                            <a ng-show="currentCommunity != null" class="btn btn-lg btn-rounded" href="#">Post</a>
                        </div>


                        <div class="row masonry mb40" style="padding:0px 24px 0px 24px;margin-top:0px">

                            <div class="col-sm-5 post-snippet masonry-item pt48" style="margin-right:24px;margin-top:12px">
                                <div style="margin:auto;background:url('https://lh3.googleusercontent.com/Vf4pHsQ9yIIpWQdlkfwopFlrBWMhdc28NCKov1VkoOIl0q7CPSwz5Hy_j6C1b0y4Kd6oIUD4tecCcTuoJiSm=s460-c');height:120px">
                                    <div style="height:120px;background:rgba(0,0,0,0.6);padding:24px">
                                        <img align="left" style="width:120px;margin-right:12px" src="https://lh3.googleusercontent.com/Vf4pHsQ9yIIpWQdlkfwopFlrBWMhdc28NCKov1VkoOIl0q7CPSwz5Hy_j6C1b0y4Kd6oIUD4tecCcTuoJiSm=s260-c" />
                                        <h4 style="color:#fff;">Reqeqfa</h4>
                                    </div>
                                </div>
                                <div class="inner" style="width:100%">
                                    <a href="#">
                                        <h5 class="mb0 mt16">A simple image post to start off an excellent masonry blog layout.</h5>
                                        <span class="inline-block mb16">September 23, 2015</span>
                                    </a>
                                    <hr>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                                    </p>
                                    <a class="btn btn-sm btn-rounded" data-toggle="modal" data-target="#signupModal" href="#">Learn More</a>
                                </div>
                            </div>
                            <!--end of snippet-->

                            <div class="col-sm-5 post-snippet masonry-item pt48" style="margin-right:24px;margin-top:12px">
                                <div style="margin:auto;background:url('https://lh3.googleusercontent.com/4zW8u86WT_YBHuXS_PkKNobQoJnDmkvwaw_dos6X_7pY35UVTnF1iuiNn-f93XZWn6fYdXjjLuEvTf1ltZPJKQ=s460-c');height:120px">
                                    <div style="height:120px;background:rgba(0,0,0,0.6);padding:24px">
                                        <img align="left" style="width:120px;margin-right:12px" src="https://lh3.googleusercontent.com/4zW8u86WT_YBHuXS_PkKNobQoJnDmkvwaw_dos6X_7pY35UVTnF1iuiNn-f93XZWn6fYdXjjLuEvTf1ltZPJKQ=s260-c" />
                                        <h4 style="color:#fff;">Reqeqfa</h4>
                                    </div>
                                </div>
                                <div class="inner" style="width:100%">
                                    <a href="#">
                                        <h5 class="mb0 mt16">A simple image post to start off an excellent masonry blog layout.</h5>
                                        <span class="inline-block mb16">September 23, 2015</span>
                                    </a>
                                    <hr>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                                    </p>
                                    <a class="btn btn-sm btn-rounded" data-toggle="modal" data-target="#signupModal" href="#">Learn More</a>
                                </div>
                            </div>
                            <!--end of snippet-->

                            <div class="col-sm-5 post-snippet masonry-item pt48" style="margin-right:24px;margin-top:12px">
                                <div style="margin:auto;background:url('https://lh3.googleusercontent.com/aZcphlsjyW-efd6ZUhTJDz1z5F-G3BaMlKFb358WFLat2rDEO1btrvlL2CG8ifcop1L8dKYtWGteQOWVaRnk=s460-c');height:120px">
                                    <div style="height:120px;background:rgba(0,0,0,0.7);padding:24px">
                                        <img align="left" style="width:120px;margin-right:12px" src="https://lh3.googleusercontent.com/aZcphlsjyW-efd6ZUhTJDz1z5F-G3BaMlKFb358WFLat2rDEO1btrvlL2CG8ifcop1L8dKYtWGteQOWVaRnk=s260-c" />
                                        <h4 style="color:#fff;">Reqeqfa</h4>
                                    </div>
                                </div>
                                <div class="inner" style="width:100%">
                                    <a href="#">
                                        <h5 class="mb0 mt16">A simple image post to start off.</h5>
                                        <span class="inline-block mb16">September 23, 2015</span>
                                    </a>
                                    <hr>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                                    </p>
                                    <a class="btn btn-sm btn-rounded" data-toggle="modal" data-target="#signupModal" href="#">Learn More</a>
                                </div>
                            </div>
                            <!--end of snippet-->

                            <div class="col-sm-5 post-snippet masonry-item pt48" style="margin-right:24px;margin-top:12px">
                                <div style="margin:auto;background:url('/site/img/blog-single-2.jpg');height:120px">
                                    <div style="height:120px;background:rgba(0,0,0,0.7);padding:24px">
                                        <img align="left" style="width:120px;margin-right:12px" src="https://lh3.googleusercontent.com/Vf4pHsQ9yIIpWQdlkfwopFlrBWMhdc28NCKov1VkoOIl0q7CPSwz5Hy_j6C1b0y4Kd6oIUD4tecCcTuoJiSm=s260-c" />
                                        <h4 style="color:#fff;">Reqeqfa</h4>
                                    </div>
                                </div>
                                <div class="inner" style="width:100%">
                                    <a href="#">
                                        <h5 class="mb0 mt16">A simple image post to start off an excellent masonry blog layout.</h5>
                                        <span class="inline-block mb16">September 23, 2015</span>
                                    </a>
                                    <hr>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                                    </p>
                                    <a class="btn btn-sm btn-rounded" data-toggle="modal" data-target="#signupModal" href="#">Learn More</a>                                    
                                </div>
                            </div>
                            <!--end of snippet-->

                        </div>
                        <!--end of row-->

                        <div class="row" style="padding:16px">
                            <div class="text-center">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end of row-->


                    </div>
                    <!--end of 9 col-->

                </div>

            </section>


            
            {{>footer}}

        </div>
        {{>scripts}}
    </body>
</html>