<!doctype html>
<html lang="en" ng-app="Perc" ng-controller="BaseController" ng-init="checkCurrentUser()">
    <head>
        {{>head}}
        <meta property="og:title" content="{{postTitle}}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{postImage}}" />
        <meta property="og:url" content="{{postUrl}}" />
        <meta property="og:description" content="{{postDescription}}" />
        <meta property="og:site_name" content="PERC" />        
    </head>


    <body ng-controller="ProfileController" ng-init="init()">
        {{>modals}}
        {{>nav}}

        <div class="main-container">

            <section style="border-top:1px solid #ddd;padding-top:0px;padding-bottom:0px">
                <div class="row-fluid">
                    <div class="col-md-3 hidden-xs bg-secondary" style="border-right:1px solid #ddd;padding:48px 24px 0px 48px;min-height:1400px">
                        <sidebar ng-if="currentCommunity == null"></sidebar>
                        <communitysidebar ng-if="currentCommunity != null"></communitysidebar>
                    </div>


                    <div class="col-md-9 mb-xs-24">
                            <div class="tabbed-content text-tabs" style="padding:32px">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title"><span>Profile</span></div>

                                        <div class="tab-content">
                                            <div class="row" style="padding:16px 16px 0px 16px;">
                                                <div style="width:100%;min-height:136px;padding:20px 20px 0px 20px;background:#f9f9f9;border:1px solid #ddd;">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <img align="left" style="height:120px;margin-right:16px;border:1px solid #ddd" ng-src="https://media-service.appspot.com/site/images/<% publicProfile.image %>?crop=260" />
                                                            <h4 style="margin-bottom:0px">
                                                                <% generalService.capitalize(publicProfile.firstName) %> <% generalService.capitalize(publicProfile.lastName) %>
                                                            </h4>
                                                            <span><% generalService.capitalize(publicProfile.title) %></span>
                                                            <br />
                                                            <br />
                                                            <p><% publicProfile.bio %></p>
                                                        </div>

                                                        <div class="col-md-2" style="text-align:right">
                                                            Member Since<br />
                                                            <% generalService.formattedDate(publicProfile.timestamp) %>
                                                            <div class="clearfix" style="margin-bottom:12px"></div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                            <!--end of row-->

                                            <div class="clearfix"></div>

                                            <div class="row mb40" style="padding:48px 0px 0px 0px;">

                                                <div class="col-sm-12">
                                                    <h4 style="margin-bottom:16px">Conversations</h4>

                                                    <div style="padding:24px;border:1px solid #ddd;background:#f9f9f9">
                                                        <input class="form-control" style="background:#fff;height:36px;border:1px solid #ddd" type="text" placeholder="Subject" ng-model="conversation.tite" />

                                                        <textarea placeholder="Text" ng-model="conversation.text" class="form-control" style="width:100%;height:72px;background:#fff;border:1px solid #ddd"></textarea>
                                                            
                                                        <div style="padding:16px">
                                                            <a ng-click="startConversation()" class="btn btn-sm" style="float:right;" href="">Start Conversation</a>

                                                        </div>
                                                        <br />
                                                    </div>

                                                    <div class="clearfix"></div>
                                                    <br />


                                                    <ul class="accordion accordion-1">
                                                        <li ng-repeat="conversation in publicProfile.conversations track by $index" ng-click="viewConversation(conversation)" >
                                                            <div class="title" style="padding:24px;border:1px solid #ddd;background:#f9f9f9">
                                                                <p>
                                                                    <img align="left" style="width:84px;border-radius:42px;margin-right:16px" src="https://media-service.appspot.com/site/images/<% conversation.profile.image %>?crop=260" />
                                                                    <span style="margin-right:16px"><% conversation.profile.name %></span><br />
                                                                    <% conversation.text %>
                                                                </p>
                                                                <div style="text-align:right;padding:16px 0px 0px 16px;">
                                                                    <span style="margin-right:16px;border:1px solid #ddd;background:#fff;padding:8px"><% conversation.numComments %> replies</span>
                                                                    <span style="border:1px solid #ddd;background:#fff;padding:8px"><% generalService.formattedDate(conversation.timestamp) %></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <!--end of accordion-->
                                                </div>

                                            </div>


                                        </div>
                                        <!-- End Tab Content -->
                                     </li>

                                     <li>
                                        <div class="tab-title"><span>Work Samples</span></div>
                                          <div class="tab-content">
                                            <div class="row">
                                                <div ng-repeat="profile in currentCommunity.profiles track by $index" class="col-sm-4 post-snippet masonry-item mb40">
                                                    <div style="width:90%;margin:auto;background:url('https://media-service.appspot.com/site/images/<% profile.image %>?crop=320');height:120px">
                                                        <div style="height:120px;background:rgba(0,0,0,0.6);padding:16px;text-align:right">
                                                            <img align="left" style="width:88px;margin-right:12px;border-radius:44px;border:1px solid #ddd" ng-src="https://media-service.appspot.com/site/images/<% profile.image %>?crop=260" />
                                                            <h4 style="color:#fff;line-height:20px">
                                                                <a style="color:#fff;font-weight:400;font-size:18px;" href="/site/profile/<% profile.id %>"><% generalService.capitalize(profile.firstName) %> <% generalService.capitalize(profile.lastName) %></a>
                                                            </h4>
                                                        </div>
                                                    </div>

                                                    <div class="inner">
                                                        <br />
                                                        <a ng-show="profile.title.length>0" href="#"><span style="background:#eee;padding:4px;border:1px solid #ddd;margin-right:6px" class="mb10"><% profile.title %></span></a>

                                                        <br /><br /><hr>
                                                        <p style="height:160px"><% generalService.truncatedText(profile.bio, 170) %></p>
                                                        <a class="btn btn-sm" href="/site/profile/<% profile.id %>">View</a>
                                                    </div>
                                                </div>
                                                <!--end of snippet-->

                                            </div>
                                            <!--end of row-->

                                        </div>

                                    </li>
                                </ul>
                            </div>
                            <!--end of text tabs-->




                    </div>
                    <!--end of 9 col-->

                </div>

            </section>


            
            {{>footer}}

        </div>
        {{>scripts}}
    </body>
</html>