            <footer class="footer-1 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <img alt="Logo" class="logo" src="/site/img/logo-light.png" />
                        </div>
						<br /><br />
                    </div>
					
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="sub">&copy; Copyright 2015. The Grid Media, LLC</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-inline social-list">
                                <li><a target="_blank" href="https://twitter.com/thefullstack"><i class="ti-twitter-alt"></i></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/pages/The-Full-Stack/1631852427085987"><i class="ti-facebook"></i></a></li>
                            </ul>
							
                        </div>
                    </div>
                </div>
                <!--end of container-->
            </footer>