        <meta charset="utf-8">
        <title>Perc</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <link href="/site/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/site/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/site/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/site/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/site/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/site/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/site/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/site/js/knob.js"></script>
        <script src="/site/js/spin.js"></script> 
        <script src="/site/js/moment.js"></script>
        <script src="/site/js/pi.init.tab.js"></script>
        <script src="/site/js/jquery.form.js"></script>

        <!-- Angular -->
                
        <script src="/site/angular/thirdparty/fileupload/angular-file-upload-shim.js"></script>
        <script src="/site/bower_components/angular/angular.js"></script>
        <script src="/site/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/site/angular/thirdparty/fileupload/angular-file-upload.js"></script>
        <script src="/site/bower_components/angular-resource/angular-resource.js"></script>
                
        <script src='/site/angular/app.js'></script>
        <script src='/site/angular/services/restService.js'></script>
        <script src='/site/angular/services/accountService.js'></script>
        <script src='/site/angular/services/uploadService.js'></script>
        <script src='/site/angular/services/generalService.js'></script>
        <script src='/site/angular/controllers/base.js'></script>
        <script src='/site/angular/controllers/home.js'></script>
